.wedding-location {
  margin-top: 40px;

  &_poster {
  }

  &_title {
    font-size: 32px;
  }

  &_content {
    margin-top: 40px;
  }

  &_content_paragraph_1 {
    margin-top: 20px;
    padding: 0 20px;
  }

  &_btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    user-select: none;

    &-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}