.timing {
  margin-top: 60px;
  font-size: 26px;

  &_title {
    font-size: 46px;
  }

  &_list {
    margin-top: 20px;
    padding: 20px;

    &_item {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      border-bottom: 1px solid #b7b7b7;
      padding: 10px 3px 15px 3px;

      &-bottom {
        font-size: 16px;
      }

      &-left {
        font-size: 32px;
        width: 25%;
        flex: 0.35;
      }

      &-right {
        font-size: 18px;
        display: inline-flex;
        align-items: baseline;
        color: #291e16;
        flex: 1;
      }

      &-right1 {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        width: 75%;
      }
    }
  }
}

.h-23 {
  font-size: 30px;
}

.h-33 {
  font-size: 33px;
}