.dress-code {
  margin-top: 80px;

  &_title {
    display: flex;
    gap: 15px;
    font-size: 40px;

    span {
      white-space: nowrap;
    }

    &_line {
      position: relative;
      width: 60px;

      &:after {
        position: absolute;
        left: 0;
        top: 50%;
        height: 2px;
        background: black;
        content: "";
        width: 100%;
        display: block;
      }
    }
  }

  &_description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
  }

  &_poster {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;

  }

  &_subtitle {
    margin-top: 70px;
    font-size: 32px;
    text-align: center;
  }

  &_palette {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.swiper-dress-code {
  text-align: center;
  font-size: 18px;
  background: #fff;
  --swiper-navigation-color: white;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: red;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    & > img {
      height: 100%;
      width: 100%;

    }
  }
}
