.dress-code {
  margin-top: 70px;

  &_title {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 44px;
    font-weight: 600;

    span {
      white-space: nowrap;
    }
  }

  &_description {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
  }

  &_poster {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  &_subtitle {
    margin-top: 70px;
    font-size: 36px;
    font-weight: 600;
    color: #453529;
    text-align: center;
  }

  &_palette {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.swiper-dress-code {
  width: 240px;
  height: 320px;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;

    &>img {
      border-radius: 20px;
    }
  }
}

.swiper-dress-code2 {
  direction: rtl;
}
