html, body {
    font-family: "Viaoda Libre", "Montserrat Alternates", "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

body {
    background-color: rgb(218, 219, 209);
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.great {
    font-family: "Great Vibes", serif;
}

.mont {
    font-family: "Montserrat Alternates", serif;
}

.outfit {
    font-family: "Outfit", serif;
}

.application {
    visibility: hidden;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.app-container {
    max-width: 600px;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.appear-animation {
    animation: appear_1 1.4s linear;
}

.appear-animation-slider {
    animation: appear_1 1.6s linear;
}

@keyframes appear_animation {
    0% {
        opacity: 0;
        transform: scale(1, 1);
        animation-timing-function: ease-in;
    }
    1% {
        opacity: 0;
        transform: scale(0.8, 0.8);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes appear_animation_slider {
    0% {
        opacity: 0;
        transform: scale(1, 1);
        animation-timing-function: ease-in;
    }
    1% {
        opacity: 0;
        transform: scale(0.4, 0.4);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}